*.egg-info
*.mo
*.pyc
*.pyo
.installed.cfg
.mr.developer.cfg
bin/
buildout.cfg
develop-eggs/
eggs/
parts/
src/
var/


### Node ###
# Logs
/yarn-debug.log*
/yarn-error.log*

# Dependency directories
/node_modules/

# Yarn Integrity file
/.yarn-integrity
