table.fileListing {
    width: 500px;
}

table.fileListing th{
    text-align: left;
    vertical-align: top;
    width: 120px;
}


/* content-history viewlet */
table.contentHistory{
}

table.contentHistory td{
    text-align: center;
    padding: 0px 10px 0px 10px;
}