html {
  height: 100%;
}

body {
  font-family: 'Proxima Nova W08', Arial, FreeSans, sans-serif;
  color: #555;
  margin: 0px;
  padding: 0px;
  padding-right: 5px;
  height: 100%;
}

.preview {
  display: block;
  /*margin-right: 330px;*/
  height: 100%;
  float: none;
  width: 70%;
}

.preview iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.sidebar {
  display: block;
  position: relative;
  float: right;
  width: 28%;
  margin-left: 2%;
}

.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

a {
  color: #205C90;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.filename {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fileActions a {
  display: block;
  padding-top: 5px;
  border: 1px solid #DFDFDF;
  border-radius: 3px;
  background-color: #F8F8F8;
  margin-top: 10px;
  padding: 3px 5px;
}

.fileActions a img {
  vertical-align: -2px;
}
.file-details .detailItem span:last-child {
  float: right;
}
.file-details .detailItem {
    padding: 0 1em;
    overflow: hidden;
}
.document-details-link {
  padding-bottom: 0px;
}
.document-details-link:before {
  height: 16px;
  width: 16px;
  content: " ";
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAdElEQVR4AWM0lmTYz6DOgB3cZHBkNIn93/w/Ars84wrGWkajBMYKBg0cJtz430G0AnOGPIZoxin/ZeCS7QwnkRT802IMZWhkLGIQg8n/W8RwjYkUK4wYUhiygMZKwiUnMZwjSQFWQNiRxHiT8pAkGFkEoxsAZIFQo4rVFpgAAAAASUVORK5CYII9275e4da99a784928cab38121cf3bb37');
  background-repeat: no-repeat;
  display: inline-block;
  float: left;
  padding: 0;
  margin: 0;
  margin-top: 1px;
  margin-right: 5px;
}

.delete-object-link:before {
  height: 16px;
  width: 16px;
  content: " ";
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACMElEQVQ4T6WTUUhTYRTH/+fmsmEIZdGCBRlbVLTYbEKCg+9OxdCXIeFTUA8SPfrkk3B3wSeffIzwoaAnCdmLkqi7FyYYuNxoYdFGBg1alAWSLJvdL+65bHLTHqLv5XyH8z+/e+7/+z7Cfy6q98t7vUkAGhSo9GDJPIwr7/cKWDAA6PRwydaDAb9G4klIqSn9/bAWFmCRVD3TpgtSGxFCkWTUNSDSj0ynkwzYvROTRwcHgVoN8Hjwc26OId5HKwyp3u3m5j81zY8zxIDq7RtCWjC8fX3O5C0tqKZSIAWqnXItkQB2drhcXVzkmvfJc7PhwbdbUaHAMlp7ehxIWxu2Z2Z42zo8DGxt8X57eRkWFPXE0yxP1wDYyefEVaFYME4K4UD8fieWyxy+miYsBerp1KuGPy6ALfp4MyBIknEmFnMdxKdMBpKkevZZyWXuAcAHcV6ApOEfGgIqFQfi86E8OwtIUs+Z7/8O2Oz2sZnto6PA6qprAnR1YXNqis1rX6kc/IVi9JSQsIzg2BiQTnNzMZvlGIxGHVg8juLkJAiKGsx+2TexED7O5l0ZHwfm51m7sb7Ohtl7rnV0OJCBAWxMTHAtlP/uHOPLy80ypOtAKsWaQi4HkqSG3vzgrxQuHROSpBGKRBxIIoGCpuHa613nIr242JQkKbVIOIxcPs/NkdKey6xcoIkhdY0k0q+/3XOusr3WLsBONKlA7Szh0Me0FoAgC4YE9M532H9Mbrv/LfsNAvLcEa3GssEAAAAASUVORK5CYII=');
  background-repeat: no-repeat;
  display: inline-block;
  float: left;
  padding: 0;
  margin: 0;
  margin-top: 1px;
  margin-right: 5px;
}

.edit-object-link:before {
  height: 16px;
  width: 16px;
  content: " ";
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACUklEQVQ4T42TW0iTYQCGn29H929mCUngOpCnXXTlJJC86SqQUISu6kKMbgpCuxAFLSEWSIRQSF1VEAVBIBXVTaVQIsMLteVhcxE0CDc3t3be3L/9sUOmaOYHH9/V87zvdxLscby3ai8bopkLOsEpwAU8OOnirtgLHxpteGQP0VXtXqPBfBpRfZwfzx8SWg30/FegvGkaQFNm8+9rAe8MRqcPTawOxT2Pw+F07SoowKoyG3UdKFINsvcdvsUF0pPfOTKzgiMK/xQorxsH0EhF2FiDWPsI0SUCYZkv0yFS0x4q3KHPOwqUl40DaCUb9SU4OAERB2QT8G0dty+LeyXOoSlP1zZBAVZLNizF2iI0AeFZyKVhOQ0JwKQi7ok/Ng25Lm4RKGOl2pZ2FGMtIvQJInPF5DwcB8pVkFSGxJXZm/kb3BBkXliHNTqpD0sbiimfPAmxBciES3AOjGpI/4U3BO571uFas76PE6U955NjTpCj4EpAPAeSGpK5QXF17tbmtyOmRpoNuqzss9ZXliuNlxBhO0S/ghyD5WQRNqghtR0uNBi/YTlzuKntVVlFld68+gEO6kEXgcVfkFBALyClDIrurcl/Woi3/cdGmjtvd0v7K1X+5TnMrmegM0A0BVolf2CD4trOcKHBWN/RSGvPk/K4c5RcwkvK1I7Z8RQ0apKx9B2pd753t/8irnefy3SerdFo1sZz/kBSDgQz2aA/KB/Qqu+3jnj7//fZxPmOFjkR9ChVWv/PRFqZWg0r9omltD2TIQmkN811IAPk1ywg5+W/AeF/Ek6E64jVAAAAAElFTkSuQmCC');
  background-repeat: no-repeat;
  display: inline-block;
  float: left;
  padding: 0;
  margin: 0;
  margin-top: 1px;
  margin-right: 5px;
}

.mimetype_icon {
  padding-right: 5px;
}


.journal {
  margin-top: 1em;
}

.journal-item {
  position: relative;
  border: 1px solid #DFDFDF;
  border-radius: 4px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  min-height: 36px;
  opacity: 0.65;
  cursor: default;
}
.journal-item:hover {
  opacity: 1;
  background-color: #F8F8F8;
}

.journal-item-link .journal-item {
  cursor: pointer;
}
.journal-item-actor {
  position: absolute;
  left: -36px;
  margin-right: 5px;
}

.journal-version-preview-image {
  height: 80%;
  position: absolute;
  right: 5px;
}
.journal-version-preview-image img{
  height: 100%;
}
.journal-item-download,
.journal-version-preview {
  float: right;
  opacity: 0.5;
}

.journal-item-download img {
  height: 15px;
}

.journal-item-download:hover {
  opacity: 1;
}

.portaltype-file .filePreview {
  height: 720px;
}
.portaltype-file .file-version-preview-colorbox .filePreview {
  height: 100%;
}

#content a.link-overlay {
  border-bottom: 0.1em solid #ccc !important;
}

.journalListing {
  overflow-y: scroll;
  height: 350px;
  margin-top: 10px;
}

.documentFirstHeading,
#content div.documentByLine,
.contentHistory,
.contentHistoryTitle,
.documentDescription {
  display: none;
}
