#dropzone {
  display: none;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 20px;
  padding: 200px;
  position: relative;
  border: 3px dotted rgba(0, 0, 0, 0.3);
  text-align: center;
}

#dropzone.hover {
  box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.5);
}

#dropzone.done #ftw-file-upload {
  display: none;
}

#dropzone.done.hover {
  box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.5);
}

#dropzone.uploading {
  border: none;
}

#dropzone.uploading #ftw-file-upload {
  display: none;
}

#dropzone.fail #ftw-file-upload {
  display: none;
}

#dropzone #ftw-file-upload {
  display: inline;
  box-shadow: none;
  border: none;
}

#dropzone img {
  border: 5px solid #FFFFFF;
  box-shadow: 0px 0px 0px 4px #000000;
  width: 100px;
}

#dropzone #dropzone-replacement-warning {
  color: darkred;
  text-align: center;
  margin-bottom: 40px;
  font-size: 14px;
}

progress {
  width: 100%;
}

progress:after {
  content: "%";
}
